:root{
    --azul:#123A57;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

header{
  background: var(--azul);
  color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    height: 70px;
}

header .logo h1{
    font-size: 40px;
}

header .busca{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}

header img{
    width: 30px;
    display: flex;
 }

 header input{
    width: 250px;
    height: 25px;
    color: dimgray;
 }

 header .sub-menu{
     display: flex;
     justify-content: space-between;
 }

header .conta{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
 }

 header .conta a{
    color: rgb(198, 199, 192);
    text-decoration: none;
 }

.conta h3{
    width: 150px;
    font-size: 10pt;
 }

 .conta a:hover{
    color: rgb(151, 143, 143);
}

header .carrinho{
    display: flex;
    align-items: center;
}

header .carrinho a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

 nav{
     padding-top: 20px;
     padding-left: 80px;
     padding-bottom: 10px;
     background-color: var(--azul);
     display: flex;
     justify-content:flex-start;
 }

 nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

nav a:hover{
    color: rgb(151, 143, 143);
}

.carrosel img{
    height: 100%;
    width: 100%;
}

section .produtos{
    display: flex;
    flex-direction: column;
}

section header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .produtos-lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.produtos-lista a{
    text-decoration: none;
}

section .produto{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    margin: 2px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px;
}

section .produto-info{
    display: flex;
    flex-direction: column;
}

section .container-ver-todos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}





